<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/layout :: head('Página denegada')}"></head>
    <body>
        <header th:replace="~{general/menu :: menu}"></header>

        <main>
            <section>
                <h1>Acceso denegado</h1>
                <p>No puedes ingresar a este recurso.</p>
                <a th:href="@{/}">Volver al inicio</a>
            </section>
        </main>

        <footer th:replace="~{general/footer :: footer}"></footer>
    </body>
</html>